<h2>Products</h2>

<div *ngFor="let product of products; index as productId" class="product">

  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    {{ product.description }}
  </p>

  <div class="btn-link-group">
    <button (click)="share()" class="button fancy-button p-0">
      <i class="material-icons">share</i>Share
    </button>

    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
  </div>
</div>
